.fleeckr-ed{
	background:#f0f0f0;
	border:1px solid #dadada;
	margin:15px auto;
	overflow:hidden;
	padding:9px;
}
.fleeckr-ed .fleeckr-image{
  text-align: center;
	float:left;
	height:94px;
	margin:4px;
	width:77px;
  border:solid 1px transparent;
  padding:2px;
}
.fleeckr-ed .fleeckr-image:hover {
  border:solid 1px red; 
}
.fleeckr-ed .fleeckr-image a{ color: transparent; }
.fleeckr-ed .fleeckr-image:hover a {color: red; }
.fleeckr-ed .fleeckr-image img{
	border:0;
  margin: 2px;
}
