<h1>New Order</h1>

<%= form_for( @shop_order, :url => admin_shop_orders_path) do |f| %>
<div>
	<%= f.select :order_type, %w[tour hotel] %>
</div>
<div>
	
</div>

<div>
	<%= f.submit 'submit' %>
</div>
<% end %>
