<div id="order_head"><%= render :partial => 'order_head' %></div>
<div id='customer_info'><%= render :partial => 'customer' %></div>
<div id='items'><%= render :partial => 'items' %></div>
<div id='payment'><%= render :partial => 'admin/payments/payment' %></div>
<div id="dialog" class='dialog-normal'></div>