<tr>
	<td><%= f.text_field :num_adult, :size => 2 %></td>
	<td><%= f.text_field :num_child, :size => 2 %></td>
	<td>amount:</td>
	<td><%= f.check_box :_destroy %><%= f.label :_destroy, 'Delete'%></td>
</tr>