  <% if schedule %>
    <%= schedule.tour.description.title %><br />
    <%= schedule.tour.description.title_cn %><br />
    
    <div class="s-date">
      出發: <b><%= schedule.departure_date.strftime("%Y-%m-%d") %></b><br />
      返回: <b><%= schedule.return_date.strftime("%Y-%m-%d") %></b>
    </div>
  <% end %>
