	<div class='toolbar' style='padding:4px;'>
		Search Customer by name/email/telephone:<br />
		<%= text_field_tag :user_select, '', :style => 'width:300px' %>
		<%= hidden_field_tag :user_id %>
    <%= button_link_to 'Select', '/admin/user_infos/select?id=0', {:icon => 'add', :remote => true, :id => 'select_user_button'} %> <br />
	</div>
    <%= render 'form' %>
