<div class='ad-top-banner'>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-4856906055127658";
/* aetravel-top-banner */
google_ad_slot = "5069660186";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

