    <div class='site-nav-wrapper'>
      <ul class='footer white-text'>
        <li class='col1'>&nbsp;</li>
        <li><a href='/destinations'>destinations</a></li>
        <li><a href='/tours'>tours</a></li>
        <li><a href='/pages/about-us'>about us</a></li>
      </ul>
      <div class='clear'></div>
    </div>
    <div class="footer-wrapper">
      <div class="footer" style='margin-top:10px;margin-bottom:10px;'>
        <div style='float:left; width:400px;'>
<!--
SiteSeal Html Builder Code:
Shows the logo at URL https://seal.networksolutions.com/images/colorsealwcpro.gif
Logo type is  ("NETSP")
//-->
<script type="text/javascript">SiteSeal("https://seal.networksolutions.com/images/colorsealwcpro.gif", "NETSP", "none");</script><img src="https://seal.networksolutions.com/images/colorsealwcpro.gif" style="border:none;cursor: pointer;" oncontextmenu="alert('This SiteSeal is protected');return false;" onclick="window.open(&quot;http://seals.networksolutions.com/siteseal_seek/siteseal?v_shortname=NETSP&amp;v_querytype=W&amp;v_search=www.omeitravel.com&amp;x=5&amp;y=5&quot;,&quot;NETSP&quot;,&quot;width=450,height=500,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,copyhistory=no,resizable=no&quot;);return false;">
        </div>
        <div style='float:left; width:400px; font-size: 11px;'>
          <%= render '/shared/cms_page', :cms_title => 'page.footer.address' %>
        </div>
        <div class='clear'></div>
      </div>
    </div>
    <div class='copyright-wrapper'>
      <div class='footer white-text'>
        <div style='float:left; padding-top:10px; padding-bottom:10px;'>
          <a href="/">
            <%= image_tag 'store/ae_logo_w.png', :height => '30', :alt => 'AEtravel | New York Departure Tours EVERYDAY!'  %>
          </a> 
        </div>
        <div style='float:right;margin-top:25px;'>Copyright © 2011 AE Travel USA, Inc. All Rights Reserved. <a href="/pages/terms.aspx">Terms &amp; Conditions</a></div>
        <ul id='color_schemas'>
          <li class='color1'></li>
          <li class='color2'></li>
          <li class='color3'></li>
          <li class='color4'></li>
          <li class='color5'></li>
        </ul>
        <div class='clear'></div>
        <%= image_tag 'store/home/creditcard.gif' %>
      </div>
    </div>

<div id="footer">

  
</div>   
<%= render 'shared/google_analytics' %>
