		<div class='content-block'>
			<h2>Picks</h2>
			<ul class='list-184'>
			<% Destination.order('created_at desc').limit(14).each do |d| %>
				<li><%= link_to d.description.title, destination_path(d), :title => d.description.title %></li>
			<% end %>
			</ul>
		</div>
