$ptn_1: #FFFFFF;
$ptn_2: #E7E7E7;
$ptn_3: #F1F9E2;
$ptn_4: #FF6600;
$ptn_5: #78B116;

$bg_color_block: $ptn_5;
$bg_color_hot:   $ptn_4;
$bg_color_focus: $ptn_4;

$color_hot_back: #eb6d27;
$color_alt_back: #e6f0f0;
$color_link_dark: #3c505b;
$color_link_light: #adc7d2;
$color_border: #C4D9D9;
$border_color: red;

