@import 'color_define';

h2{
color: #2B2B2B;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.25px;
    line-height: 24px;
    margin-bottom: 8px;
    margin-right: 4px;
    position: relative;	
}
a:link {
    color: #4282BF;
    text-decoration: none;
}
a:visited{
	text-decoration: underline;
}
a:hover{
	color: $bg_color_hot;
	text-decoration: underline;
}


body{padding:0;font: 14px/1.4em Arial,sans-serif;}

